@media (max-width: 768px) and (min-width: 480px) {
   .info-container {
    display: flex;
    flex-direction: column;
    
   }

   .card-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
   }
   .info {
    text-align: center;
   }

}

