
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  * {
    
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
    
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }

  .card-title {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
  }

  .card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
  }

 .email-form-title {
  font-size: 1.2rem;
font-weight: 400; 
padding-bottom: 20px;

}

  .navbar {

    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .banner-wrap {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 8px solid #222222;
    position: relative;
    z-index: 1;

  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
   opacity: 60%;
   z-index: -1;
  }

  
  .navbar > img {
    height: 120px;
    width: 120px;
    padding-top: 45px;
  }
  .navbar a {
    padding: 7px 17px;
    color: white;
    background-color: red;
    margin: 0 45px;
    margin-top: 45px;
   border-radius: 3px;
  }
  
  

  .banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 45px);
    text-align: center;



  }
  .get-started-form {
    height: 60px;
    display: flex;
  }

  .get-started-form input {
    height: 100%;
    width: 450px;
    padding-left: 10px;
  }
  .get-started-form button {
    background-color: red;
    color: white;
    height: 100%;
    width: 214px;
    font-size: 1.625rem;
    min-height: 60px;
    padding: 0 26px;
    border: none;
    border-left: 1px solid red;
    
    

  }

.info-container {
  display: flex;
  color: white;
  background-color: black;
  border-bottom: 8px solid #222222;
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 45px
}
.tv-container {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.tv-container img {
  z-index: 1;
}

.tv-container video{
  position: absolute;

}

.footer {
  background-color: black;
  color: grey;
}
.footer:hover {
  text-decoration: underline;
  cursor: pointer;
}

 .footer-items {
  margin: 0 47.5px;
  padding: 70px 45px;
 }
 .questions-title {
  color: grey;
 }
 .questions-title:hover {
  text-decoration: underline;
 }

 .footer-top {
  margin-bottom: 30px;

 }
.list-items {
  list-style-type: none;
  columns: 4;
  padding: 0;
  font-size: 13px;
  line-height: 2;
}
.language {
  height: 53px;
  width: 142px;
  color: grey;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 0 10px;
  margin-top: 30px;
  border-radius: 3px;
}

.language select {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: black;
  color: grey;
  
}
